@tailwind base;
@tailwind components;
@tailwind utilities;

font-face {
  font-family: 'Public-Sans';
  src: url('/fonts/Public_Sans/PublicSans-Regular.ttf');
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body {
  padding: 0;
  line-height: inherit;
}
